/* Global Color Variables */
:root {
    --color-primary: #f2f2f2;
    --color-secundar: #000;

    --lightest-background-color: #fefefe;
    --green-accent: #49c38c;
    --error-color: #a11f1f;
    --lighter-error-color: #ffe1e1;

    --font-color: #fefefe;
    --secundary-font-color: #222;

    --pure-black: #000;
    --pure-white: #fff;
}

:root {
    --background-color: #0e0c0c;
}
