.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-geist-sans);
    background:
        linear-gradient(27deg, rgba(0, 0, 0, 0.02) 25px, transparent 25px) 0
            25px,
        linear-gradient(207deg, rgba(0, 0, 0, 0.02) 25px, transparent 25px) 10px
            0px,
        linear-gradient(27deg, rgba(20, 20, 20, 0.02) 25px, transparent 25px)
            0px 10px,
        linear-gradient(207deg, rgba(20, 20, 20, 0.02) 25px, transparent 25px)
            10px 25px,
        linear-gradient(90deg, rgba(30, 30, 30, 0.02) 10px, transparent 10px),
        linear-gradient(
            rgba(30, 30, 30, 0.02) 25%,
            rgba(60, 60, 60, 0.02) 25%,
            rgba(60, 60, 60, 0.02) 50%,
            transparent 50%,
            transparent 75%,
            rgba(20, 20, 20, 0.02) 75%,
            rgba(20, 20, 20, 0.02)
        );
    background-color: var(--color-secundar);
    background-size: 20px 20px;
}
.main {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titleMain {
    max-width: 90vw;
}

.attribution {
    position: absolute;
    display: flex;
    right: 20;
    flex-flow: column;
    bottom: 5;
    font-style: italic;
    font-size: 10;
    align-items: end;
    justify-content: end;
}
